.center{
  width: 913px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}

img{
  width: 913px;
  background-position:center;
  background-size: cover;
}